<nav class="sidebar bg-dark text-white">
    <div class="sidebar-header">
        <h4>Панель администратора</h4>
    </div>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a th:href="@{/admin/shifts}" class="nav-link">Смены</a>
        </li>
        <li class="nav-item">
            <a th:href="@{/admin/bookings}" class="nav-link">Брони</a>
        </li>
        <li class="nav-item">
            <a th:href="@{/admin/policies}" class="nav-link">Политики</a>
        </li>
    </ul>
</nav>