<nav class="sidebar bg-white">
    <div class="sidebar-header">
        <h4>Панель администратора</h4>
    </div>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a th:href="@{/admin/dashboard}" class="nav-link">
                <i class="fas fa-chart-line me-2"></i>Дашборд
            </a>
        </li>
        <li class="nav-item">
            <a th:href="@{/admin/shifts}" class="nav-link">
                <i class="fas fa-clock me-2"></i>Смены
            </a>
        </li>
        <li class="nav-item">
            <a th:href="@{/admin/routes}" class="nav-link">
                <i class="fas fa-route me-2"></i>Маршруты
            </a>
        </li>
        <li class="nav-item">
            <a th:href="@{/admin/limits}" class="nav-link">
                <i class="fas fa-ruler-vertical ms-1 me-2"></i> Ограничения
            </a>
        </li>
        <li class="nav-item">
            <a th:href="@{/admin/bookings}" class="nav-link">
                <i class="fas fa-receipt me-2"></i> Брони
            </a>
        </li>
        <li class="nav-item">
            <a th:href="@{/admin/policies}" class="nav-link">
                <i class="fas fa-file-shield me-2"></i>Политики
            </a>
        </li>
        <li class="nav-item">
            <a th:href="@{/admin/banner/list}" class="nav-link">
                <i class="fas fa-bullhorn me-2"></i>Баннеры
            </a>
        </li>
        <li class="nav-item">
            <a th:href="@{/admin/logout}" class="nav-link text-danger">
                <i class="fas fa-right-from-bracket me-2"></i>Выйти
            </a>
        </li>
    </ul>
</nav>